html{
    background-color:grey;

}
body{
    margin:0;
    padding:0;
}

.container{
  display:grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 80%;
}

.sidebar{
  grid-area: 1 / 1 / 2 / 2;
  background-color:rgb(52, 139, 211);
  height:100vh;
  margin:0;
  padding:0;
  display:grid;
  color:white;
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-columns: 10% 90%;
  font-size:1.5rem;
}

.main-content{
  grid-area:2 / 2 / 2 / 2;
  background-color:chartreuse;
}
ul{
    padding:0;
}

.linksCol1 > li,
.linksCol2 > li{
  list-style: none;
}

.linksCol1 > li > img,
.linksCol2 > li > img,
.logo > img{
  padding-right:10px;
  color:inherit;
}

.sidebar a, 
.sidebar a:visited{
  color:white;
  text-decoration:none;
}

.sidebar a:hover{
  font-size:1.7rem;
}

.linksCol1{
  display:grid;
  gap:10px;
  grid-area:2 / 2 / 2 / 2
}
.linksCol2{
  display:grid;
  max-height:150px;
  grid-area: 3 / 2 / 3 / 2
}

.logo{
  /* align-items:center;
  padding-left:40px; */
  grid-area: 1 / 2 / 1 / 2;
  font-size:2rem;
  margin-top:20px;
}

header{
  grid-area:1 / 2 / 1 / 2;
  background-color:white;
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 70% 30%;
  font-size:2rem;
  font-weight:600;
  row-gap:20%;
}

.userInfo > img,
.welcomeMessage > img{
  width:50px;
  height:auto;
  /* margin-top:10px; */
}

.searchBar > input{
  width:80%;
  height:50%;
  border-radius:10px;
  background-color:rgb(235, 232, 232);
  border-style:none;
}
.searchBar > img{
  width:40px;
  height:30px;
}

.searchBar, .welcomeMessage{
  margin-left:10%;
}

.buttonsHeader{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items:center;
}
.buttonsHeader > button{
  color:white;
  background-color:rgb(52, 139, 211);
  width:90%;
  height:80%;
  border-radius:10px;
  font-size:1.1rem;
  outline:none;
  border-style:none;
  align-items:center;
}
.welcomeMessage{
  display:grid;
  grid-template-rows:10% 70%;
  grid-template-columns: 10% 90%;
  /* column-gap:15px; */
  align-items:center;
}
.welcomeMessage > img{
  width:80%;
  grid-area: 2 / 1 / 2 / 2;
}

.welcomeMessage div:nth-child(3){
  grid-area: 2 / 2 / 2 / 2;
}
.welcomeMessage div:nth-child(2){
  font-size:1rem;
  grid-area: 1 / 2 / 1 / 2
  /* margin-top:10px; */
}

.userInfo{
  font-size:1.4rem;
  display:grid;
  grid-template-columns: 20% 20% 40%;
  align-items:center;
}
.userInfo > img:nth-child(1){
  width:45%;
}
.userInfo > img:nth-child(2){
  width:70%;
}


