html{
    background-color:grey;

}
body{
    margin:0;
    padding:0;
}

.container{
  display:grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: 20% 80%;
}

.sidebar{
  grid-area: 1 / 1 / 2 / 2;
  background-color:steelblue;
  height:100vh;
  margin:0;
  padding:0;
}

header{
  grid-area:1 / 2 / 1 / 2;
  background-color:yellow;
}

.main-content{
  grid-area:2 / 2 / 2 / 2;
  background-color:chartreuse;
}

